- name: Create whoami directory
  file:
    path: /opt/whoami
    state: directory
    owner: "{{ docker_user.name }}"
    mode: "{{ docker_compose_directory_mask }}"

- name: Install whoami compose file
  template:
    src: files/whoami/docker-compose.yml
    dest: /opt/whoami/docker-compose.yml
    mode: "{{ docker_compose_file_mask }}"
    owner: "{{ docker_user.name }}"
    validate: docker compose -f %s config
  register: compose_file

- name: restart whoami
  shell:
    chdir: /opt/whoami
    cmd: "{{ docker_update_command }}"
  when: compose_file.changed
