- name: Create dir for docker service ZFS override
  file:
    path: /etc/systemd/system/docker.service.d
    state: directory
    mode: "0755"
  become: true

- name: Create override.conf
  copy:
    src: files/zfs-override.conf
    dest: /etc/systemd/system/docker.service.d/zfs-override.conf
    owner: root
    group: root
    mode: "0644"
  become: true
