docker_user:
  id: 3000
  name: dockeruser

docker_users:
  - "{{ me.user }}"

docker_compose_file_mask: "664"
docker_compose_directory_mask: "775"

docker_install_compose_plugin: "{{ ansible_os_family == 'Debian' }}"

docker_update_command: docker compose pull && docker compose down --remove-orphans && docker compose rm && docker compose up -d
