wireguard:
  public_ip: "{{ hosts.casey_ip }}"
  port: 51820
  cidr: 10.23.0.0/24
  server:
    ip: 10.23.0.1
    public_key: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      38663861323433663733306266313862383538613562616531656262616665393130626564666539
      6636666561663137623166383432396163653835346335650a616139306431363934383031353161
      63656233623963316238663366613237613165663238343937313062616565333038326664373463
      6463623861656362350a636564363163353736613032386533613163333039336637356433633037
      66663563666263613737336235316565663337636339613933343939323563393034353431343932
      6339386262333134373465616637613534333839333265613563
    private_key: !vault |
      $ANSIBLE_VAULT;1.1;AES256
      39333362373534343265623337353037343238623365633863373333323166646562326234336633
      3265653136326337306439623331393733346237326630340a346466316562643432656330313764
      64303535663736356561623636366261343830366561343463653561343337353034626533306634
      3334323935303734660a373961303535646336663637346137316337383132346665366336353139
      34313137366239323361386136396666646362306538616661643164383166326335666638336230
      6432363064313239656338356630626235336239356662326362
  clients:
    big-mike:
      ip: 10.23.0.11
      public_key: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        37313230386134346632363731356132656634303330363662613538336638346538373366343863
        3666616561346437386437633238323732366336616238370a303161613030326537326664376565
        66633262366431616337663132396133343362383435653264383163656130636537656136366230
        6237333736373631650a623264303336393931356366326334393463306465313363346438396162
        63356436663932353339653163346534333761346332336161353239323666316431643535373732
        6334396139666465393835613365323735653666646464653765
      private_key: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        33366332313863333832613166653337363234323234393232363464623136386564633739326363
        3230363762326261636138326534623063386463613030350a376533633930313463393833333364
        32313134623332636537653831383735646237626239353335666439646162363732613161653063
        6565356364623937350a336562646233303736306338333264653661333962323261633538376337
        30623234306161313939363938333833353433366130306162633939663462313431383433643666
        3736343161363735623964633362353939303133643439373138
    intersect:
      ip: 10.23.0.2
      public_key: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        36376136643534323433666161366363646630393165326264633266383535396362613461326631
        3837323462643738633261666638306264666237313634350a363339396464373735366437346666
        34393334626338653139653664656532343666376265343331613832646437643364643734383930
        3139333464396561650a323164393361393261373135333834663961626337636662663433613339
        31393961616535633763623839373463316336643835323762373837336366376232663333646532
        6131636532623734633964393338626134616466613032306364
      private_key: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        32346134373364616630633466636666343261393338636534396465613361666639333433646461
        3063373061313836303331613438303839333763393264610a636165616665383137643132383064
        66383638636638346539303638653765623438616663636639333663326463306134343862646437
        3334636537393863340a383665623363343761633438343838393562653335303437306139373035
        31366135353861313064343562353163326238373630346631613734303732666235613332653431
        3866663137353330666539373861633836303839386331363366
    bartowski:
      ip: 10.23.0.23
      public_key: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        65636435336562653438363866663238353065303132383633613539633738303461303838313332
        3331626266336635376338636236383131333765626634310a663765363736653363366463306464
        37633539396233333036313837363033623038386437393461316335643038383234656338646439
        6336386563383162360a316463316539623536643235346461303463616230663964666438623837
        39346131303535656335633034393963393632346531643133383365333161376464336338393138
        6633386362393932323739353638383566373434643766613536
      private_key: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        30656637616266383939373864643365343730396434303561336661646561333462313231373032
        3661333939633863393166396532303065316464616466630a653733626539353263376632633766
        61646264343332346639326239306465363033303566326638363262656363313963393637353135
        3935663663613332370a656438663934343365343766373665643538616233366563353463336331
        61623763306665636361643664383566373861363037386664626638666566623034633134626465
        3831666130333133636536633539346431613863623330326430
    roark:
      ip: 10.23.0.22
      public_key: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        65326261643165633130663436386230346166373962333738633535616165396238393862313565
        3638316561376166643363396132323737633161636262300a323064366632326631326633303966
        30623432633766313266383133663563666431383936303239386230353236393536623461373765
        3232633031623638330a383132653464386133323366396132656436366163303332656534353165
        62303836323565333961316239633066383035636362626166376163326436666136646132373265
        3231323165316133653066616236343631323735656565343031
      private_key: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        30323562353937366234393435666434313234626439613037353836653365376363653335343133
        3063353166313961346437616431333064343066663663360a666338386266626135343232396462
        31343962393166363763363432323862343037353062313635656336636261363931373263396663
        3139646264363035660a393964393562363136363132383730636232633765303234303665376130
        31386162316632373532323732643232323062646365643539306361666332306537663639383737
        3466633363373566636335376132633439306562323161653764
    too-work:
      ip: 10.23.0.12
      public_key: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        30373835313966343962643864363333383537303964316234373031643635343231316264303034
        6133646464363830656461633262343965303934376366320a633031363464383639356165333163
        63363733643435343330303337333861353939653664303033323837626131636230636639373931
        6363326639653164640a353265383364636236646366326235313136366633653335373932393434
        62626532646537393164613666373763323136646636666233343939613466303863663432656465
        6139663566363231333064313365373966303561306463643863
      private_key: !vault |
        $ANSIBLE_VAULT;1.1;AES256
        62333934666266393539336165343266343135353266653933656133363463393262383139376332
        3236643133333265316263613361396238653838316237300a366533666535313363636137316239
        65653166356666336435646161313132656463313465316136323433656533613834666531323434
        3338353564636361610a663564643235643733373137386631643062323630336662363934656135
        38346130306439646238336165356133333262646463633231323864636662396237623132363937
        6130613938623465336564306164623131353830363664363736
