services:
  wallabag:
    image: wallabag/wallabag:latest
    restart: unless-stopped
    environment:
      - SYMFONY__ENV__SECRET={{ wallabag_secret }}
      - SYMFONY__ENV__DOMAIN_NAME=https://wallabag.jakehoward.tech
      - SYMFONY__ENV__FOSUSER_REGISTRATION=false
      - POSTGRES_PASSWORD=wallabag
      - POSTGRES_USER=wallabag
      - SYMFONY__ENV__DATABASE_DRIVER=pdo_pgsql
      - SYMFONY__ENV__DATABASE_HOST=db
      - SYMFONY__ENV__DATABASE_PORT=5432
      - SYMFONY__ENV__DATABASE_NAME=wallabag
      - SYMFONY__ENV__DATABASE_USER=wallabag
      - SYMFONY__ENV__DATABASE_PASSWORD=wallabag
      - POPULATE_DATABASE=true
    volumes:
      - /mnt/tank/app-data/wallabag/data:/var/www/wallabag/data
      - /mnt/tank/app-data/wallabag/images:/var/www/wallabag/images
    labels:
      - traefik.enable=true
      - traefik.http.routers.wallabag.rule=Host(`wallabag.jakehoward.tech`)
    depends_on:
      - db
      - redis
    networks:
      - default
      - traefik

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    volumes:
      - /mnt/speed/dbs/redis/wallabag:/data

  db:
    image: pgautoupgrade/pgautoupgrade:17-alpine
    restart: unless-stopped
    volumes:
      - /mnt/speed/dbs/postgres/wallabag/:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=wallabag
      - POSTGRES_USER=wallabag

networks:
  traefik:
    external: true
