version: "2.3"

services:
  tt-rss:
    image: lunik1/tt-rss:latest
    environment:
      - PUID={{ docker_user.id }}
      - PGID={{ docker_user.id }}
      - TZ=Europe/London
    volumes:
      - "./tt-rss/config.php:/config/config.php:ro"
      - "./tt-rss/feed-icons:/config/feed-icons"
      - ./plugins:/config/plugins.local
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.tt-rss.rule=Host(`tt-rss.jakehoward.tech`)
      - traefik.http.routers.tt-rss.tls.certresolver=le
      - traefik.http.routers.tt-rss.middlewares=compress@file
    depends_on:
      - db
    tmpfs:
      - /config/log

  db:
    image: postgres:12-alpine
    restart: unless-stopped
    volumes:
      - ./postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=tt-rss
      - POSTGRES_USER=tt-rss
