services:
  karakeep:
    image: ghcr.io/karakeep-app/karakeep:release
    restart: unless-stopped
    environment:
      - TZ={{ timezone }}
      - MEILI_ADDR=http://meilisearch:7700
      - BROWSER_WEB_URL=http://chrome:9222
      - DATA_DIR=/data
      - NEXTAUTH_URL=https://karakeep.jakehoward.tech
      - NEXTAUTH_SECRET={{ vault_nextauth_secret }}
      - MEILI_MASTER_KEY={{ vault_meili_master_key}}
      - OAUTH_WELLKNOWN_URL=https://auth.jakehoward.tech/.well-known/openid-configuration
      - OAUTH_CLIENT_ID={{ vault_oauth_client_id }}
      - OAUTH_CLIENT_SECRET={{ vault_oauth_client_secret }}
      - OAUTH_PROVIDER_NAME="Pocket ID"
      - DISABLE_SIGNUPS=true
      - DISABLE_PASSWORD_AUTH=true
    volumes:
      - "{{ app_data_dir }}/karakeep:/data"
    labels:
      - traefik.enable=true
      - traefik.http.routers.karakeep.rule=Host(`karakeep.jakehoward.tech`)
      - traefik.http.routers.karakeep.middlewares=tailscale-only@file
    depends_on:
      - chrome
      - meilisearch
    networks:
      - default
      - traefik

  chrome:
    image: gcr.io/zenika-hub/alpine-chrome:latest
    restart: unless-stopped
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars

  meilisearch:
    image: getmeili/meilisearch:v1.13.3
    restart: unless-stopped
    environment:
      - MEILI_NO_ANALYTICS=true
      - MEILI_MASTER_KEY={{ vault_meili_master_key }}
    volumes:
      - /mnt/speed/dbs/meilisearch/karakeep:/meili_data

networks:
  traefik:
    external: true
