services:
  comentario:
    image: registry.gitlab.com/comentario/comentario:v3.15.0
    restart: unless-stopped
    user: "{{ docker_user.id }}:{{ docker_user.id }}"
    depends_on:
      - db
    networks:
      - default
      - traefik
    labels:
      - traefik.enable=true
      - traefik.http.routers.comentario.rule=Host(`comentario.theorangeone.net`)
      - traefik.http.services.comentario-comentario.loadbalancer.server.port=80
    volumes:
      - ./secrets.yml:/comentario/secrets.yaml
    environment:
      - BASE_URL=https://comentario.theorangeone.net
      - NO_PAGE_VIEW_STATS=true
      - LOG_FULL_IPS=true

  db:
    image: pgautoupgrade/pgautoupgrade:17-alpine
    restart: unless-stopped
    volumes:
      - ./postgres:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=comentario
      - POSTGRES_USER=comentario

networks:
  traefik:
    external: true
