services:
  uptime-kuma:
    image: louislam/uptime-kuma:1.23.17-alpine
    environment:
      - TZ={{ timezone }}
      - PUID={{ docker_user.id }}
      - PGID={{ docker_user.id }}
    dns:
      - 9.9.9.9
      - 149.112.112.112
    ports:
      - "{{ pve_hosts.forrest.ip }}:3001:3001"
    volumes:
      - "{{ app_data_dir }}/uptime-kuma:/app/data"
    restart: unless-stopped

networks:
  default:
    enable_ipv6: true
