- name: Include vault
  include_vars: vault.yml

- name: Create install directory
  file:
    path: /opt/plausible
    state: directory
    owner: "{{ docker_user.name }}"
    mode: "{{ docker_compose_directory_mask }}"

- name: Install clickhouse config
  template:
    src: files/clickhouse-config.xml
    dest: /opt/plausible/docker_related_config.xml
    mode: "0644"
  notify: restart plausible

- name: Install clickhouse user config
  template:
    src: files/clickhouse-user-config.xml
    dest: /opt/plausible/docker_related_user_config.xml
    mode: "0644"
  notify: restart plausible

- name: Install compose file
  template:
    src: files/docker-compose.yml
    dest: /opt/plausible/docker-compose.yml
    mode: "{{ docker_compose_file_mask }}"
    owner: "{{ docker_user.name }}"
    validate: docker compose -f %s config
  notify: restart plausible
