services:
  traefik:
    image: traefik:v3
    user: "{{ docker_user.id }}"
    environment:
      - GANDIV5_PERSONAL_ACCESS_TOKEN={{ vault_gandi_personal_access_token if traefik_tls_challenge else "" }}
      - DESEC_TOKEN={{ vault_desec_api_token if traefik_tls_challenge else "" }}
    volumes:
      - ./traefik:/etc/traefik
    restart: unless-stopped
    ports:
      - 80:80
      - 443:443
      - 443:443/udp
      - "{{ private_ip }}:8080:8080"
    depends_on:
      - docker_proxy
    networks:
      - default
      - traefik
      - proxy_private

  docker_proxy:
    image: lscr.io/linuxserver/socket-proxy:latest
    restart: unless-stopped
    environment:
      - CONTAINERS=1
      - INFO=1
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - proxy_private
    tmpfs:
      - /run
    logging:
      driver: none

networks:
  traefik:
    external: true
  proxy_private:
    internal: true
